<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blog app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/semantic.css" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="ui fixed inverted menu bottom-margin">
        <div class="ui container">
            <div class="header item"> Blog </div>
            <a href="/" class="item"> Home</a>
            <a href="/blogs/new" class="item">New Blog</a>
        </div>
    </div>

    <div style="margin-bottom: 4rem"></div>
